/TestRemote/target/
/TestRemoteAnt/nbproject/private/
/TestRemoteAnt/dist/
/TestRemoteAnt/build/
/RemotePiI2C/nbproject/private/
/RemotePiI2C/build/
/RemotePiI2C/dist/
/UDPServer/nbproject/private/
/UDPServer/build/
/UDPServer/dist/